
.extra-price{
position: absolute;
    top: 2px;
    right: 2px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background: #ff6a6a;
    padding: 2px 5px;
    border-radius: 2px;
}
.ribbon-3 {
    color: white;
    background: #5c723f;
    top: 2px;
    left: 2px;
    vertical-align: top;
    line-height: 11px;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 2px;
    position: absolute;
}
.pos .product .product-img2 {
    position: relative;
    top: 17px;
    left: 35px;
    width: 50px;
    height: 30px;
    background: white;
    text-align: center;
}
.cross-price-tag{
    font-size: 12px;
}
